@media (max-width: 1919px) {
  .container {
    max-width: 95%;
  }

  .nav__item:not(:last-child) {
    margin-right: 50px;
  }

  .bottom__item:not(:last-child) {
    margin-right: 75px;
  }

  .hero__desc {
    max-width: 50%;
  }

  .gallery__right {
    max-width: 64.2%;
  }
}

@media(min-width:1225px) and (max-width: 1570px) {
  .swiper-container {
    width: 100%;
  }

  .gallery__right {
    max-width: 70.6%;
  }

  .content__adress .title-style,
  .content__social .title-style {
    font-size: 20px;
  }

  .content__adress .desc-style {
    font-size: 13px;
  }

  .just-validate-tooltip-container {
    display: inline-block;
    margin-right: 15px;
    width: 219px;
  }

  .content__btn {
    padding: 12.5px 12px;
    font-size: 16px;
  }

}

@media (max-width: 1224px) {
  .container {
    max-width: 90.4%;
  }

  .header__top {
    position: relative;
    padding-bottom: 27px;
  }

  .header__container {
    justify-content: space-between;
  }

  .top__link {
    margin-right: 0;
  }

  .burger {
    display: inline-block;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .top__right {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    padding: 38px 0 133px 48px;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    overflow-y: auto;
    background-color: var(--color-background);
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility .3s ease-in-out, transform .3s ease-in-out;
  }

  .top__right--active {
    visibility: visible;
    transform: none;
  }

  .top__btn-close {
    margin-bottom: 30px;
  }

  .top__btn-close--active {
    display: inline;
  }

  .top__nav {
    margin-right: 0;
    margin-bottom: 70px;
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__link {
    margin-right: 0;
    /* margin-bottom: auto; */
  }

  .nav__desc {
    font-size: 24px;
    line-height: 64px;
  }

  .top__search {
    display: inline-block;
  }

  .header__link {
    margin-top: auto;
    padding: 16px 91px;
    border: 2px solid var(--color-focuse);
    border-radius: 100px;
    outline: 2px solid transparent;
    outline-offset: 3px;
    font-weight: 600;
  }

  .header__link::before {
    top: 49%;
    left: 91px;
  }

  .header__bottom {
    display: none;
  }

  .hero {
    padding-top: 106px;
    padding-bottom: 116px;
  }

  .hero__subtitle {
    margin-bottom: -10px;
    max-width: 70%;
  }

  .hero__desc {
    margin-bottom: 133px;
    max-width: 80%;
  }

  .slide-1 {
    background-image: url("../img/heroSlide-1\(1024\).jpg");
  }

  .slide-2 {
    background-image: url("../img/heroSlide-2\(1024\).jpg");
  }

  .slide-3 {
    background-image: url("../img/heroSlide-2\(1024\).jpg");
  }

  .about {
    padding-bottom: 72px;
  }

  .about__desc {
    width: 99%;
  }

  .gallery__left {
    width: 31%;
  }

  .gallery__title {
    margin-bottom: 17px;
  }

  .left__top {
    margin-bottom: 107px;
    width: 280px;
  }

  .gallery__right {
    padding-top: 26px;
  }

  .modal__content-desc {
    max-width: 230px;
  }

  .catalog {
    padding-bottom: 39px;
  }

  .catalog__desc {
    margin-bottom: 40px;
    max-width: 100%;
  }

  .catalog__left {
    width: 48.8%;
  }

  .aside__img {
    margin-bottom: 28px;
  }

  .aside__title {
    margin-bottom: 10px;
  }

  .catalog__right {
    width: 47.3%;
  }

  .ui-accordion .ui-accordion-content {
    padding: 27px 0 24px;
  }

  .accordion__item-list {
    column-count: 2;
    column-gap: 83px;
  }

  .accordion__img {
    padding: 8px;
    width: 189px;
    height: 130px;
  }

  .accordion__text {
    width: 50%;
  }

  .event__title {
    margin-bottom: 16px;
  }

  .event__card-top {
    height: 200px;
  }

  .card-1 .event__card-top {
    background-image: url("../img/event-one\(1024\).jpg");
  }

  .card-2 .event__card-top {
    background-image: url("../img/event-two\(1024\).jpg");
  }

  .card-3 .event__card-top {
    background-image: url("../img/event-three\(1024\).jpg");
  }

  .card-4 .event__card-top {
    background-image: url("../img/event-four\(1024\).jpg");
  }

  .card-5 .event__card-top {
    background-image: url("../img/event-five\(1024\).jpg");
  }

  .event__card-btm {
    padding: 14px 34px 52px;
  }

  .event__data {
    margin-bottom: 4px;
    text-align: end;
  }

  .event__subtitle {
    margin-bottom: 7px;
    line-height: 33px;
  }

  .event__desc {
    margin-bottom: 26px;
  }

  .swiper-navigation2 {
    display: none;
  }

  .swiper-pagination {
    display: block;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background: #666;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0px 7.5px;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -43px;
  }

  .projects {
    padding: 78px 0 80px;
  }

  .projects__desc {
    margin-bottom: 20px;
    width: 100%;
  }

  .projects__swiper-container {
    width: 88.4%;
  }

  .projects__link-content {
    height: 126px;
  }

  .projects__image {
    max-width: 55%;
  }

  .projects__link:nth-child(2) .projects__image {
    max-width: 74%;
  }

  .contaсts__content {
    flex-direction: column;
    align-items: flex-start;
    padding: 42px 0 38px;
  }

  .content__adress {
    margin-bottom: 28px;
  }

  .content__adress-desc.title-style {
    margin-bottom: 10px;
  }

  .content__adress .desc-style {
    font-size: 14px;
    line-height: 19px;
  }

  .content__form {
    margin-bottom: 29px;
    width: 100%;
  }

  .just-validate-tooltip-container {
    margin-right: 16px;
    width: 29%;
  }

  .content__btn {
    padding: 12.5px 42.5px;
  }

  .contaсts__map {
    height: 700px;
  }

  .ymaps-2-1-79-controls__control {
    display: none !important;
  }

  .footer__social-icon svg {
    width: 60px;
    height: 60px;
  }

  .footer {
    padding: 40px 0 37px;
  }


}

@media(max-width: 998px) {
  .container {
    max-width: 87%;
  }

  .search__form {
    width: 100%;
  }

  .form__search {
    display: block;
    width: 100%;
  }

  .top__form {
    top: -53px;
    right: 0;
    left: 0;
    bottom: 52px;
    padding: 35px 50px 34px 55px;
  }

  .hero__subtitle {
    max-width: 85%;
  }

  .hero__desc {
    max-width: 100%;
  }

  .slide-1 {
    background-image: url("../img/heroSlide-1\(768\).jpg");
  }

  .slide-2 {
    background-image: url("../img/heroSlide-2\(768\).jpg");
  }

  .slide-3 {
    background-image: url("../img/heroSlide-3\(768\).jpg");
  }

  .gallery {
    padding-bottom: 80px;
  }

  .gallery__container {
    flex-direction: column;
  }

  .gallery__left {
    margin-bottom: 13px;
  }

  .left__top {
    margin-bottom: 41px;
  }

  .gallery__right {
    max-width: 100%;
  }

  .modal__content-description {
    padding-right: 36px;
  }

  .modal__content-desc {
    max-width: 281px;
  }

  .catalog__content {
    flex-direction: column-reverse;
  }

  .catalog__left,
  .catalog__right {
    width: 100%;
  }

  .catalog__right {
    margin-bottom: 51px;
  }

  .catalog__desc {
    margin-bottom: 21px;
  }

  .accordion__item-list {
    column-count: 3;
    column-gap: 0;
  }

  .aside__img {
    margin-bottom: 18px;
  }

  .aside__title {
    margin-bottom: 9px;
  }

  .aside__data {
    margin-bottom: 6px;
  }

  .accordion__img {
    padding: 12px;
    width: 275px;
    height: 189px;
  }

  .accordion__text {
    width: 40%;
  }

  .event {
    padding: 40px 0;
  }

  .event__title {
    margin-bottom: 16px;
  }

  .card-1 .event__card-top {
    background-image: url("../img/event-one\(768\).jpg");
  }

  .card-2 .event__card-top {
    background-image: url("../img/event-two\(768\).jpg");
  }

  .card-3 .event__card-top {
    background-image: url("../img/event-three\(768\).jpg");
  }

  .card-4 .event__card-top {
    background-image: url("../img/event-four\(768\).jpg");
  }

  .card-5 .event__card-top {
    background-image: url("../img/event-five\(768\).jpg");
  }

  .event__card-btm {
    padding: 14px 17px 51px 33px;
  }

  .event__subtitle {
    margin-bottom: 5px;
    width: 80%;
  }

  .event__desc {
    margin-bottom: 30px;
    width: 90%;
  }

  .projects {
    padding: 80px 0 80px;
  }

  .projects__desc {
    margin-bottom: 28px;
    width: 103%;
  }

  .projects__subtitle {
    margin-bottom: 29px;
  }

  .projects__swiper-container {
    width: 84%;
  }

  .projects__btn.swiper-top-prev3 {
    top: 59%;
  }

  .projects__btn.swiper-top-next3 {
    top: 59%;
  }

  .projects__link-content {
    height: 104px;
  }

  .projects__image {
    max-width: 80%;
  }

  .projects__link:nth-child(2) .projects__image {
    max-width: 80%;
  }

  .content__form {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .just-validate-tooltip-container {
    margin-right: 0;
    margin-bottom: 12px;
    width: 48%;
  }

  .content__input-name {
    margin-right: 20px;
  }

  .content__btn {
    padding: 10.5px 28px;
  }

}

@media(min-width:577px) and (max-width: 700px) {
  .hero__subtitle {
    font-size: 64px;
    line-height: 90px;
  }

  .modal__content.modal-open {
    display: inline-block;
  }

  .modal__content-description {
    padding: 17px 20px 105px;
  }

  .modal__content-data {
    margin-bottom: 10px;
  }

  .modal__content-desc {
    max-width: 249px;
  }

  .modal__content-close {
    right: 8px;
    top: 8px;
  }

  .accordion__item-list {
    column-count: 2;
  }

  .just-validate-tooltip-container {
    width: 53%;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 28px;
    line-height: 38px;
  }

  .container {
    max-width: 91%;
  }

  .header__container {
    align-items: flex-start;
  }

  .header__top {
    padding: 13px 0 7px;
  }

  .burger {
    width: 25px;
    height: 18px;
  }

  .burger__line:nth-child(1) {
    top: 0;
    left: 13px;
    width: 25px;
    height: 2px;
  }

  .burger__line:nth-child(2) {
    left: 19px;
    width: 16px;
    height: 2px;
  }

  .burger__line:nth-child(3) {
    left: 19px;
    width: 10px;
    height: 2px;
  }

  .top__right {
    padding: 5px 0 60px 16px;
    background: rgba(0, 0, 0, 0.9);
  }

  .nav__desc {
    font-size: 16px;
    line-height: 32px;
  }

  .header__link {
    padding: 10px 31px;
    font-size: 12px;
    line-height: 16px;
  }

  .header__link::before {
    top: 47%;
    left: 31px;
  }

  .header__link svg {
    width: 9px;
    height: 9px;
  }

  .top__form {
    padding: 24px 64px 51px 76px;
    background: rgba(0, 0, 0, 0.9);
  }

  .search__btn svg {
    width: 18px;
    height: 18px;
  }

  .top__btn-close {
    width: 15px;
    height: 15px;
  }

  .top__btn-close::after,
  .top__btn-close::before {
    width: 20px;
  }

  .form__btn {
    position: absolute;
    bottom: 27px;
    left: 57px;
    margin-right: 0;
    width: 10px;
    height: 10px;
  }

  .search__form {
    margin-right: 0;
    height: 32px;
  }

  .search__form-close {
    position: absolute;
    top: 16px;
    right: 15px;
  }

  .search__form-close svg {
    width: 15px;
    height: 15px;
  }

  .hero {
    padding-top: 30px;
    padding-bottom: 45px;
  }

  .hero__content {
    padding: 0 22px;
    text-align: center;
  }

  .hero__subtitle {
    margin-bottom: 3px;
    max-width: 100%;
    font-size: 32px;
    line-height: 44px;
  }

  .hero__desc {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .hero__btn {
    padding: 9px 16px;
    font-size: 12px;
    line-height: 16px;
  }

  .slide-1 {
    background-image: url("../img/heroSlide-1\(320\).jpg");
  }

  .slide-2 {
    background-image: url("../img/heroSlide-2\(320\).jpg");
  }

  .slide-3 {
    background-image: url("../img/heroSlide-3\(320\).jpg");
  }

  .about {
    padding: 50px 0 39px;
  }

  .about__desc {
    font-size: 14px;
    line-height: 28px;
  }

  .gallery {
    padding: 49px 0 50px;
  }

  .gallery__left {
    margin-bottom: 29px;
    width: 100%;
  }

  .gallery__title {
    margin-bottom: 13px;
  }

  .left__top-desc {
    margin-bottom: 5px;
  }

  .left__top {
    margin-bottom: 30px;
    width: 100%;
  }

  .swiper-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .gallery__right {
    padding-top: 0;
  }

  .modal__content.modal-open {
    display: inline-block;
  }

  .modal__content-description {
    padding: 17px 20px 105px;
  }

  .modal__content-data {
    margin-bottom: 10px;
  }

  .modal__content-desc {
    max-width: 249px;
  }

  .modal__content-close {
    right: 8px;
    top: 8px;
  }

  .swiper-wrapper {
    margin-bottom: 19px;
  }

  .swiper-navigation {
    margin-bottom: 0;
  }

  .catalog {
    padding: 50px 0 25px;
  }

  .catalog__title {
    margin-bottom: 12px;
  }

  .catalog__desc {
    display: none;
  }

  .accordion__title,
  .accordion__subtitle {
    font-size: 18px;
  }

  .accordion__btn-icon {
    width: 30px;
    height: 30px;
  }

  .accordion__btn-icon::after {
    top: 35%;
    left: 37%;
    width: 8px;
    height: 8px;
  }

  .ui-accordion-header-active .accordion__btn-icon::after {
    transform: rotate(135deg) translate(1px, -2px);
  }

  .accordion__item-list {
    column-count: 1;
  }

  .ui-accordion .ui-accordion-header {
    padding: 20px 0;
  }

  .ui-accordion .ui-accordion-content {
    padding: 20px 0;
  }

  .catalog__right {
    margin-bottom: 52px;
  }

  .accordion__img {
    padding: 6px;
    width: 90px;
    height: 130px;
  }

  .accordion__text {
    width: 60%;
  }

  .aside__data {
    margin-bottom: 12px;
  }

  .aside__desc--empty {
    margin-bottom: 5px;
    line-height: 22px;
  }


  .event {
    padding: 25px 0;
  }

  .event__title {
    margin-bottom: 12px;
  }

  .card-1 .event__card-top {
    background-image: url("../img/event-one\(320\).jpg");
  }

  .card-2 .event__card-top {
    background-image: url("../img/event-two\(320\).jpg");
  }

  .card-3 .event__card-top {
    background-image: url("../img/event-three\(320\).jpg");
  }

  .card-4 .event__card-top {
    background-image: url("../img/event-four\(320\).jpg");
  }

  .card-5 .event__card-top {
    background-image: url("../img/event-five\(320\).jpg");
  }

  .event__card-btm {
    padding: 19px 17px 40px 22px;
  }

  .event__data {
    margin-bottom: 8px;
  }

  .event__subtitle {
    margin-bottom: 5px;
    width: 100%;
  }

  .card-1 .event__subtitle {
    width: 103%;
  }

  .card-4 .event__desc {
    width: 87.6%;
  }

  .event__desc {
    margin-bottom: 0;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -13px;
  }

  .projects {
    padding: 36px 0 15px;
  }

  .projects__title {
    margin-bottom: 12px;
  }

  .projects__desc {
    margin-bottom: 51px;
    width: 99.7%;
  }

  .projects__subtitle {
    margin-bottom: 11px;
    font-size: 18px;
  }

  .projects__swiper-container {
    width: 66.5%;
  }

  .projects__btn.swiper-top-prev3 {
    top: 47%;
  }

  .projects__btn.swiper-top-next3 {
    top: 47%;
  }

  .projects__link-content {
    height: 63px;
  }

  .projects__image {
    max-width: 55%;
  }

  .projects__link:nth-child(4) .projects__image {
    max-width: 35%;
  }

  .projects__link:nth-child(9) .projects__image {
    max-width: 80%;
  }

  .contaсts__container {
    border: none;
  }

  .contaсts__content {
    padding: 15px 0 18px;
  }

  .content__adress {
    margin-bottom: 20px;
  }

  .content__adress-desc.title-style {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 25px;
  }

  .content__form {
    margin-bottom: 20px;
  }

  .just-validate-tooltip-container {
    margin-bottom: 20px;
    width: 100%;
  }

  .content__input {
    padding: 3px 24px;
  }

  .content__input-name {
    margin-right: 0;
  }

  .js-validate-error-label {
    top: -15px;
  }

  .content__btn-desktop {
    display: none;
  }

  .content__btn-mobile {
    display: block;
    padding: 9.7px 34px;
    font-size: 12px;
    line-height: 16px;
  }

  .social__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
  }

  .icon,
  .footer__social-icon svg {
    width: 50px;
    height: 50px;
  }

  .contaсts__map {
    height: 320px;
  }

  .footer {
    padding: 20px 0 17px;
  }

  .footer__container {
    flex-direction: column-reverse;
  }

  .footer__social {
    margin-bottom: 16px;
  }
}
